h2 {
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
  }
  
  .container{
    
     display: flex;
    margin: 10px ;
    /* height: 410px; */
    
  }
  .c1{
    display: flex;
      flex-direction: column;
      width: 40%;
      margin-right: 8px;
  }
  .container1{
    background-color: brown;
    height: 150px;
    margin-bottom: 5px;
    color: white;
  }
  .container2{
    background-color: burlywood;
    height: 200px;
    color: white;
  }
  .c2{
    display: flex;
    flex-direction: column;
    width: 59%;
  }
  .container3{
    background-color: brown;
    height: 250px;
    margin-bottom: 5px;
    color: white;
    
  }
  .container4{
  height: 100px;
  background-color: burlywood;
  color: white;
  }
  .c3{
    display: flex;
    flex-direction: row;
    height: 80px;
    margin: 10px;
  }
  .container5{
    background-color: brown;
    width: 75%;
    margin-bottom: 5px;
    margin-right: 5px;
    color: white;
  }
  .container6{
    background-color: burlywood;
    width: 24%;
    margin-bottom: 5px;
    margin-left: 3px;
    color: white;
  }
  .footer{
    height: 80px;
    background-color:black;
    display: flex;
    justify-content: center;
    color: white;
  }